*{
    margin: 0;
    padding: 0;
 }
 .split {
    /* height: 100%; */
    width: 50%;
    /* position: fixed; */
    z-index: -1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  } 
  
  /* Control the left side */
   /* .left {
    left: 0;
    background-color: #ffffff;
  }  */
  
  /* Control the right side */
   .data .right {
    /* right: 0; */
    background-color: rgba(255, 188, 71, 1);
    
  /* height: 100%; */
    
} 
.data .right .img-div{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.data{
  display: flex;
  flex-direction: row;
}
  
  /* If you want the content centered horizontally and vertically */
   /* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }  */
  
  /* Style the image inside the centered container, if needed */
   .right img {
    /* width: 150px; */
    /* border-radius: 50%; */
    width: 50%;
    padding: 2rem ;
  } 

  /* navbar */
  .navbar{
    list-style: none;
    display: flex;
  }

  .navbar .list{
    background-color: rgba(255, 188, 71, 1);
    width: 50%;
  }
 .navbar ul{
  list-style: none;
  color: black;
  /* padding: 0; */
  font-family: 'Roboto', sans-serif;
  margin: 28px 4px;
  text-align: center;
  /* text-align: right; */
  
} 
.navbar li{
display: inline-block;
} 
  .navbar a{
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: black;
 
 font:bold;
  padding: 3px 22px;
  border-radius: 20px;
  text-align: center; }

.navbar a:hover{
  color: white;
}
 
 .item{
  padding-right: 30px;
 }
 html{
  scroll-behavior: smooth;
 }

 

   #logo{
    height: 30px;
    width: 30px;
   margin-right: auto;
   
  }
   #logo img{
    height: 48px;
    margin: 21px 16px;
  } 
.section{
  justify-content: space-between;
  display: flex;
  padding: 40px;
  flex-direction: column;
Left:127px;
}
  .section img{
    height: 25%;
    width: 20%;
    /* float: right; */
   position: relative;
    margin: 30px;
    justify-content: flex-end;
    /* left: 850px; */
    /* bottom: 215px; */
  
    
  

  }
  .section h1{
    margin: 0;
    color: gold;
    
  }
  .section p{
    /* margin: 40px 30px; */
    color:rgba(150, 135, 110, 1) ;
  }
  .text{
    padding: 30px;
    /* width: 450px; */
    /* border: 2px solid red; */
  
  }
  
button{
  height: 25px;
  width: 90px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(247, 234, 165);
}

button:hover{
 background-color: rgb(235, 214, 90)
}




.box{
  display: flex;
  /* margin: 5rem 0; */
  flex-direction: row-reverse;
}
.para{
  color: rgba(150, 135, 110, 1)
}
.text-box{
  width: 50%;
  padding: 0 10rem;
  margin: 5rem 0;
  color: rgba(255, 188, 71, 1);
  box-sizing: border-box;
}
.img-box{
  width: 50%;
  background-color: rgba(255, 188, 71, 1);
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  flex-direction: column;
  align-items: center;
  
}

 .pic1{
  width: 50%;
  height: 10rem;
  
}
.pic2{
  width: 43%;
  height: 18rem;
}
.pic3{
  width: 53%;
  height: 16rem;
}
.pic4{
  width: 53%;
  height: 16rem;
}
